@page
@model Student_Management.Pages.TutorDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Details[0].tutor_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Details[0].tutor_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Details[0].tutor_Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor_Details[0].tutor_Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutor_Details) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tutor_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tutor_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tutor_Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tutor_Address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.tutor_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.tutor_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.tutor_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
